#image {
    float: left;
    width: 50px;
    margin-right: 10px;
    height: 50px;
    border-radius: 25px;
}
.send-message {
  border: 0px;
  background-color: #4295f5;
  color: white;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.send-message:hover {
  background: #3238a8;
}
.boxes {
    background-color: rgb(89, 93, 99);
    padding:10px;
    color:#080d4d;
    transition: .3s;
    border-radius: 10px;
    display: flex;
}
.boxes a {
  margin-top: 7.5px;
}
body {
  font-size: 18px;
  background: #36393f;
}
#for-phone {
  display: none;
}
#link-profile {
  text-decoration: none;
  color: lightblue;
  font-size: 30px;
}
#link-profile:hover {
  text-decoration: underline;
  color: #34b1eb;
}
@media only screen and (max-width: 1000px) {
  * {
    text-align: center;
  }
  #image {
    float: none;
    margin-right: 0px;
  }
  #for-phone {
    display: inline;
  }
  .boxes {
    align-items: center;
    justify-content: center;
  }
  .boxes a {
    margin-top: -7.5px;
    margin-left: 7.5px;
  }
}