body {
    font-size: 18px;
    text-align: center;
    background: #36393f;
}
.btn-primary {
	color: white;
	background-color: #317699;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	border: 0;
    transition: .2s;
}
.wrapper {
    color: white;
}
.btn-primary:hover {
    background: #053349;
}

a {
	text-decoration: none;
	color: #099bd5;
    transition: .2s;
}

a:hover {
	color: #4a43d1;
    text-decoration: underline;
}
.help-block {
	color: lightgrey;
	text-shadow: 0 0 1px #d12850;
}
.form-controls {
    border-radius: 5px;
    padding: 7px;
    border: 2px solid white;
    width: 250px;
    transition: .3s;
    font-size: 15px;
    background: #313339;
    color: white;
    box-shadow: none;
}
.form-controls:focus {
    outline-offset: 0px;
    outline: none;
    box-shadow: none;
    border: 2px solid black;
}
@media only screen and (max-width: 1000px) {
    * {
        text-align: center;
    }
}