body {
    margin: 0;
    overflow: hidden;
    font-size:18px;
    background: #36393f;
}
.uniquer-class {
    display: none;
}
#delete-text-x {
    color: white;
}
.actiontext {
    width: 100%;
    text-align: center;
    color: white;
}
#messages {
    height: 70vh;
    overflow-x: hidden;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-family: "Lato",sans-serif;
}
#admin-text {
    color: #d16352;
    font-weight: 550;
}
#user-profile-link {
    text-decoration: none;
    color: #737373;
}
#user-profile-link:hover {
    text-decoration: underline;
}
.messageO {
    display: flex;
}
a {
    color: white;
    text-decoration: underline;
}
.active-user {
    height: 10px;
    width: 10px;
    border: 2px solid #36393f;
    border-radius: 50%;
    display: inline-block;
    margin-left: -15px;
}
a:hover {
    color: #aea7d8;
}
#profile-message-picture {
    height: 27.5px;
    width: 27.5px;
    user-select: none;
    border-radius: 25px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
.time {
    color: white;
    text-shadow: 0px 0px 2px white;
    display: none;
}
#message {
    padding: 7.5px;
    color: white;
    border: 0;
    height: 25px;
    border-radius: 10px;
    resize: none;
    width:  97.5%;
    overflow: hidden;
    border: none;
    float:left;
    outline:none;
    background-color: #262626;
    transition: .3s;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.date {
    display: flex;
}
#nameUser {
    margin-left: 55px;
    flex: 1;
    margin-bottom: 3.5px;
}
.date::after {
    flex: 1;
    content: '';
}
#all-message {
    margin-top: 10px;
    margin-bottom: 10px;
}
.msj {
    background-color: #333333;
    color: #e8e6fe;
    padding: 10px;
    border-radius:20px;
    margin-bottom: 8px;
    width: fit-content;
    transition: .2s;        
    margin-left: 5px;
}
.content-messages {
    padding: 5px 10px;
    border-radius:5px;
    margin-bottom: 8px;
    width: fit-content;
}
.msj p{
    margin: 0;
    font-weight: bold;
}
#hidden-input {
    display: none;
}
#text-send {
    margin: 0;
    margin-left: 10px;
    margin-top: -5px;
    font-size: 14px;
    position: relative;
}
form div {
    display: flex;
}
input[type=image] {
    border: 0;
    width: 30px;
    height: 30px;
    filter: invert(8%) sepia(22%) saturate(17%) hue-rotate(330deg) brightness(103%) contrast(91%);
    margin-top: 10px;
    margin-right: 10px;
}