body {
    font-size:18px;
    background: #36393f;
}
.main-div {
    color: white;
}
.secondary-div {
    padding: 15px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    margin-bottom: -1px;
}
#user-text-x {
    float: right;
}
@media (max-width: 1000px){
    * {
        text-align: center;
    }
}