.user-button {
	color: white;
	background-color: #317699;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	border: 0;
    transition: .2s;
}
.user-button:hover {
    background: #053349;
}
a {
	text-decoration: none;
	color: #099bd5;
    transition: .2s;
}
a:hover {
	color: #4a43d1;
    text-decoration: underline;
}
.user-error {
	color: lightgrey;
	text-shadow: 0 0 1px #d12850;
}
.user-input {
    border-radius: 5px;
    padding: 7px;
    border: 2px solid white;
    width: 250px;
    transition: .3s;
    font-size: 15px;
    background: #313339;
    color: white;
    box-shadow: none;
}
.user-input:focus {
    outline-offset: 0px;
    outline: none;
    box-shadow: none;
    border: 2px solid black;
}
body {
    color:white;
    font-size: 18px;
    background-image: url(../logos/loginBackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
h2 {
    margin: 20px;
}
* {
    margin: 0;
}
.custom-file-upload {
    background: grey;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
}
#menu {
    background: rgb(54, 57, 63, 0.7);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 20px;
}
.wrapper {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}
@media only screen and (max-width: 1000px) {
    * {
        text-align:center;
    }
}