.btn-primary {
	color: white;
	background-color: #317699;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	border: 0;
    transition: .2s;
    box-shadow: 2px 2px 10px hsl(200, 51%, 40%);
}

.btn-primary:hover {
    box-shadow: 2px 2px 10px #053349;
}

a {
	text-decoration: none;
	color: rgb(19, 107, 122);
    transition: .2s;
}

a:hover {
	color: #4a43d1;
    text-decoration: underline;
}
.help-block {
	color: #703140;
	text-shadow: 0 0 1px #d12850;
}
.form-controls {
    border-radius: 5px;
    padding: 7px;
    color: black;
    border: 2px solid white;
    width: 250px;
    box-shadow: 0px 0px 3px grey;
    transition: .3s;
    font-size: 15px;
}
.form-controls:focus {
    outline-offset: 0px;
    outline: none;
    box-shadow: none;
    border: 2px solid #317699;
}